.bottom_profile {
    > div {
        background: #19252B;
        padding: 5rem 2rem;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        
        .tit_box {
            width: 30%;
            h5 {
                font-family: 'Poppins';
                color: #fff;
                font-size: 38px;
                font-weight: 600;
                line-height: 50px;
                text-transform: uppercase;
            }
        }
        .cont_box {
            width: 70%;
        }
    }

    #bp_top {
        position: relative;
        .cont_box {
            display: flex;

            table {
                width: 100%;
                color: #fff;
                font-size: 22px;
                text-align: left;

                tr {
                    th {
                        font-family: 'Poppins';
                        text-transform: uppercase;
                        vertical-align: -webkit-baseline-middle;
                    }
                    td {
                        font-family: 'SUITE';
                        font-weight: 300;
                        padding-left: 4%;
                        padding-bottom: 14px;
                        line-height: 35px;
                    }
                }
            }
        }
    }
    #bp_top::after {
        position: absolute;
        bottom: 0;
        display: block; 
        content: ""; 
        width: calc(100% - 4rem);
        height: 1px;
        background: #fff;
        box-sizing: border-box;
    }
}