#bp_bottom {
    background: #19252B;
    padding: 5rem 2rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
        
    .tit_box {
        width: 30%;
        h5 {
            font-family: 'Poppins';
            color: #fff;
            font-size: 38px;
            font-weight: 600;
            line-height: 50px;
            text-transform: uppercase;
        }
    }

    .cont_box {
        width: 70%;
        h2 {
            font-family: 'Poppins';
            font-size: 80px;
            line-height: 95px;
            color: #fff;
            font-weight: 600;
        }

        .cursor_dummy {
            cursor: pointer;
            padding: 1rem 2rem;
            white-space: nowrap;
            display: inline-flex;
            flex-direction: row;
            align-items: center;
            font-size: 50px;
            font-family: 'Poppins';
            color: #000;
            background: #fff;
            font-weight: 600;
            transition: background ease 0.3s;
            border-radius: 20rem;
            width: auto;
            margin-top: 100px;
            position: relative;
            overflow: hidden;

            .wave {
                position: absolute;
                bottom: -410%;
                left: 15%;
                background: #00FF3A;
                width: 700px;
                height: 700px;
                margin-left: -150px;
                margin-bottom: -301px;
                transform-origin: 50% 48%;
                border-radius: 43%;
                
                transition-duration: 2s;
                transition-property: margin-bottom;
                transition-timing-function: ease;
            }

            p {
                overflow: hidden;
                margin-right: 20px;
                z-index: 2;
            }
            img {
                filter: invert(1);
                transition: filter ease 0.3s;

            }
        }

        .cursor_dummy:hover {
            // background: #00FF3A;
            .wave {
                margin-bottom: -90px;
                animation: rotate 2000ms infinite linear;
            }
            img {
                filter: invert(0);
            }
        }
    }
}
@keyframes rotate {
    from { transform: rotate(0deg); }
    from { transform: rotate(360deg); }
}

@media screen and (max-width: 1150px) {
    #bp_bottom {
            
        .tit_box {

            h5 {

            }
        }

        .cont_box {
            h2 {

            }
    
            .cursor_dummy {
                
                p {
                    font-size: 4vw;
                }
                img {
                    width: 7vw;
                }
            }
    
            .cursor_dummy:hover {
                img {

                }
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    #bp_bottom {
            
        .tit_box {

            h5 {
                font-size: 5vw;
                line-height: 5.5vw;
            }
        }

        .cont_box {
            h2 {
                font-size: 8vw;
                line-height: 10vw;
            }
    
            .cursor_dummy {
                
                p {
                    font-size: 4vw;
                }
                img {
                    width: 7vw;
                }
            }
    
            .cursor_dummy:hover {
                img {

                }
            }
        }
    }
}

@media screen and (max-width: 720px) {
    #bp_bottom {
        flex-direction: column;
            
        .tit_box {
            width: 100%;
            margin-bottom: 50px;

            h5 {
                font-size: 7vw;
                    line-height: 7.5vw;
            }
        }

        .cont_box {
            width: 100%;

            h2 {
            }
    
            .cursor_dummy {
                
                p {
                }
                img {
                }
            }
    
            .cursor_dummy:hover {
                img {

                }
            }
        }
    }
}