.project_list_etc {
    background: #22333D;
    padding: 5rem 2rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;

    .tit_box {
        width: 30%;
        h5 {
            font-family: 'Poppins';
            color: #fff;
            font-size: 38px;
            font-weight: 600;
        }
    }
    .list_box {
        width: 70%;
        > a {
            display: flex; 
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            text-decoration: none;
            padding-bottom: 20px;
            border-bottom: 1px solid #fff;
            margin-bottom: 30px;
            transition: all ease 0.3s;
            position: relative;

            p {
                font-family: 'Poppins';
                color: #fff;
                font-size: 38px;
                font-weight: 500;
            }

            img {
                transition: all ease 0.2s;
                filter: brightness(0) invert(1);
            }

        }

        > a::after {
            content: "VIEW";
            display: block;
            position: absolute;
            right: 3.5rem;
            font-size: 20px;
            color: #fff;
            opacity: 0;
            transition: opacity ease 0.3s;
        }

        > a:hover {
            padding-left: 20px;
            color: #00FF3A;
            border-bottom: 1px solid #00FF3A;

            p {
                color: #00FF3A;
            }

            img {filter: brightness(1) invert(0);}
        }
        a:hover::after {
            opacity: 1;
            color: #00FF3A;
        }

        .btn_box {
            text-align: center;

            a {
                text-decoration: none;
                p {
                    display: inline-block;
                    font-size: 20px;
                    font-weight: 600;
                    padding: 15px 30px;
                    border: 1px solid #fff;
                    background: #22333D;
                    color: #fff;
                    box-sizing: border-box;
                    border-radius: 25px;
                    transition: all ease 0.2s;
                }
            }
            a:hover {
                p {
                    border: 1px solid #22333D;
                    background: #fff;
                    color: #22333D;
                    background: #fff;
                }
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .project_list_etc {

        .tit_box {

            h5 {
                font-size: 5vw;
                line-height: 5.5vw;
            }
        }
        .list_box {
            > a {
                p {
                    font-size: 3.3vw;
                }

                img {
                    width: 3vw;
                }
            }
        }
    }
}

@media screen and (max-width: 720px) {
    .project_list_etc {
        flex-direction: column;

        .tit_box {
            width: 100%;
            margin-bottom: 50px;

            h5 {
                font-size: 7vw;
            }
        }
        .list_box {
            width: 100%;
        }
    }
}