.detail {
    .panel {
        background: #fff;
        padding:  3rem 2rem 5rem;
    
        .info_box {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            border-bottom: 1px solid #000;
            padding-bottom: 30px;
    
            p {
                font-family: 'Poppins';
                font-size: 20px;
            }
        }
        .tit_box {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            h1 {
                font-family: 'Poppins';
                font-size: 6vw;
                font-weight: 700;
                text-transform: uppercase;
                padding: 2rem 0;
            }
            div {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                justify-content: center;
                img {
                    width: auto;
                }
            }
        }
    
        > img {
            width: 100%;
            height: auto;
        }
    
        .cont_wrap {
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: space-between;
            border-top: 1px solid #000;
            margin-top: 80px;
            padding: 70px 0;
    
            .tit_box {
                width: 30%;
                h5 {
                    font-family: 'Poppins';
                    color: #000;
                    font-size: 38px;
                    font-weight: 600;
                    line-height: 50px;
                    text-transform: uppercase;
                }
            }
            .cont_box {
                width: 70%;
    
                table {
                    width: 100%;
                    color: #000;
                    font-size: 22px;
                    text-align: left;
    
                    tr {
                        th {
                            font-family: 'Poppins';
                            text-transform: uppercase;
                            vertical-align: top;
                            padding-top: 3px;
                            width: 20%;
                            padding-bottom: 20px;
                        }
                        td {
                            font-family: 'SUITE';
                            font-weight: 300;
                            padding-left: 4%;
                            padding-bottom: 20px;
                            ul {
                                li {
                                    line-height: 32px;
                                }
                            }

                            .stack {
                                max-width: 400px;
                                display: grid;
                                gap: 10px;
                                grid-template-columns: 1fr 1fr 1fr 1fr;

                                img {
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
    
        .btn_box {
            text-align: center;
    
            .btn_go {
                background: #22333D;
                color: #fff;
                font-size: 20px;
                font-family: 'Poppins';
                padding: 10px 15px;
                border-radius: 30px;
                text-decoration: none;
            }
        }
    }

    .navigation {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 50px 0;

        a {
            text-decoration: none;
            cursor: pointer;
            
            div {
                align-self: center;
                display: flex;
                flex-direction: row;
                align-items: center;
    
                p {
                    font-family: 'Poppins';
                    font-size: 38px;
                    color: #fff;
                    font-weight: 500;
                    width: 100%;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
        
                    span {
                        font-size: 20px;
                    }
                }
            }
        }

        a:nth-child(1) {
            width: 40%;
            text-align: left;
            justify-content: flex-start;

            img {
                margin-right: 10px;
            }
        }
        a:nth-child(3) {
            width: 40%;
            text-align: right;
            justify-content: flex-end;

            img {
                margin-left: 10px;
            }
        }

    }
}

@media screen and (max-width: 1024px) {
    .detail {
        .panel {
        
            .info_box {
        
                p {

                }
            }
            .tit_box {

                h1 {
                    font-size: 9vw;
                }
            }
        
            > img {

            }
        
            .cont_wrap {
        
                .tit_box {

                    h5 {
                        font-size: 3.4vw;
                        line-height: 4vw;
                    }
                }
                .cont_box {
        
                    table {
        
                        tr {
                            th {
                                font-size: 2vw;
                            }
                            td {
                                font-size: 2vw;
                            }
                        }
                    }
                }
            }
        
            .btn_box {

                .btn_go {

                }
            }
        }
    
        .navigation {
    
            a {
    
                p {
                    font-size: 3vw;
                    span {
                        font-size: 2vw;
                    }
                }
            }
    
            a:nth-child(1) {
    
                img {

                }
            }

            a:nth-child(2) {
    
                img {
                    width: 6vw;
                }
            }

            a:nth-child(3) {

                img {

                }
            }
    
        }
    }
}

@media screen and (max-width: 720px) {
    .detail {
        .panel {
        
            .info_box {
        
                p {

                }
            }
            .tit_box {

                h1 {
                }
            }
        
            > img {

            }
        
            .cont_wrap {
                flex-direction: column;

                .tit_box {
                    width: 100%;
                    margin-bottom: 50px;

                    h5 {
                        font-size: 7vw;
                        line-height: 7.5vw;
                    }
                }
                .cont_box {
                    width: 100%;
                    table {
        
                        tr {
                            th {
                                font-size: 3.33vw;
                                width: 20%;
                                padding-top: 3.1vw;
                            }
                            td {
                                font-size: 3.33vw;
                                padding-bottom: 0;

                                img {
                                    width: 12vw;
                                }
                            }
                        }
                    }
                }
            }
        
            .btn_box {

                .btn_go {
                    font-size: 3vw;
                }
            }
        }
    
        .navigation {
    
            a {
    
                p {
                    font-size: 3vw;
                    span {
                        font-size: 2vw;
                    }
                }
            }
    
            a:nth-child(1) {
    
                img {
                    width: 5vw;
                }
            }

            a:nth-child(2) {
    
                img {

                }
            }

            a:nth-child(3) {

                img {
                    width: 5vw;
                }
            }
    
        }
    }
}