#project_scroll_wrap {
    background: #22333D;
    padding: 5rem 2rem;
    box-sizing: border-box;

    #project_scroll {
    
        .panel {
            width: 100%;
            height: 100vh;
            padding: 5rem 2rem;
            background: #fff;
            box-sizing: border-box;
    
            img {
                width: 100%;
            }
        }
    
        .panel:not(:first-child) {
            position: absolute;
        }
    }
}