#main_visual  {
    width: 100%; 
    height: 100vh; 
    background: url("@/assets/images/mainVisual.jpg") no-repeat; 
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 10%;
    box-sizing: border-box;

    .txt_box {
        h5 {
            font-family: "Poppins", system-ui;
            font-size: 48px;
            font-weight: 600;
            color: #fff;
        }

        h1 {
            font-family: "Poppins", system-ui;
            font-size: 110px;
            font-weight: 600;
            color: #fff;
            text-transform: uppercase;
            margin-top: 50px;
        }
    }
}